<% @photo.comments.each do |comment| %>
 <strong><%= link_to comment.user.slug.capitalize, user_path(comment.user) %></strong>
  <p>
  <%= comment.content.capitalize %>
  </p>
    <% if current_user && current_user == comment.user %>
<p>
    <%= button_to "Delete", [comment.photo, comment], method: :delete, class: 'btn btn-danger btn-sm'%>
    
</p>
  <% end %>  
<% end %>