

<% if current_user.photos.length != 0 %>

	<% if is_current_user?(@user) %>

		<%= render 'users/user' %>
				
	<% elsif %>

	<% if @user.photos.length > 0 %>

	<%= render 'users/user_profile' %>

		<% else %>	
				<div class= "center-this">
					<p>
						<strong><h2><%= @user.slug %> has no photos yet</h2></strong>
					</p>
				</div>
		<% end %>
	<% end %>
				

<% else %>
		 <div class= "center-this">
		 	<p>
		 	   <strong><h2>You have no photos yet</h2></strong>
		 	 </p>
			  <strong><h3>Upload your first photo :)</h3></strong>
		<% end %>
	</div>

<style>
     .center-this {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 50vh;
     }

	 .center-this1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
</style>

	

