<%= simple_form_for @photo do |f| %>
  <%= f.hidden_field :photo_id, :value => @photo.id %>
  
  <div class="form-group">
  <%= f.input :tag_list, as: :string, placeholder: "Tags", input_html: { id: 'tag_list-input'} %> 
  </div>

  <div class="form-group">
  <%= f.submit  "Add" %>
  </div>
<% end %>







