
<div class= "center-this">
<p>
<h2>New Photo</h2>
</p>

<%= render 'form', photo: @photo %>

</div>

<style>
     .center-this {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
</style>



